*{
    margin: 0;
    padding: 0;
}

html, body {
  scroll-behavior: smooth;
  background-color: #e1dfd9;
  text-align:center;
  width: 100%;
  height: auto;

}

section, div {
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-dark {
  background-color: transparent !important;
}

/* ALL SCROLL EFFECTS FOUND BELOW */

.scroll { 
  font-family: 'Roboto Mono', monospace;
  font-size: large;
  color: #fff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  position: relative;
}

   #pageheader {
    font-family: 'Inter', sans-serif;
   }

   #separator {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("images/wallpaper.png")!important;
    
  }
  #separator::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  }

   #separator a {
    z-index: 1;
    border: 0px hidden;
    height: 100px;
    color: #fff;
    width: 1000px;
    top: 85%;
    left: 50%;
    margin-left: -500px;
    display: block;
    font-family: 'Roboto Mono', monospace;
    padding-top: 70px;
    
  }

  #separator h1 {
    z-index: 1;
    border: 0px hidden; 
    height: 100px;
    color: #fff;
    position: relative;
    width: 1000px;
    top:60%;
    left: 50%;
    margin-left: -500px;
    display:block;
      /* need to fix this portion */
  }
   #separator a span {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb05 1.5s infinite;
    animation: sdb05 1.5s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb05 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }
  @keyframes sdb05 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: rotate(-45deg) translate(-20px, 20px);
      opacity: 0;
    }
  }

  #topborder {
    width: 100%;
    height: 100%;
    position: relative;
  }

  #topcontainer {
    padding-top: 50px;
  }

#topsection{
  background-image: url(images/about-me-wallpaper.png)!important;
  
}


#topsection a {
    padding-top: 60px;
  }
  #topsection a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
  }
  #topsection a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }

  .scroll a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .scroll a:hover {
    opacity: .5;
  }

  /* ALL TYPEWRITER EFFECTS FOUND BELOW */

  /* .line1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
} */

/* Animation */
/* .anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
} */
/* @keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255, 255, 255, 0.75);}
  to{border-right-color: transparent;}
} */
